<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        
    <link href="output.css" rel="stylesheet">    
    
    <title>Bonnie's Webpage</title>
  </head>    
  <body class="bg-gray-700 h-screen"
    
    
  </body>
</html>